//Colores
$color-darkerGreen:   #245214;
$color-darkGreen:     #47A329;
$color-mediumGreen:   #7AD65C;
$color-lightGreen:    #ACE699;
$color-lighterGreen:  #DEF5D6;

$color-darkerPurple:  #3A0F57;
$color-darkPurple:    #741FAD;
$color-mediumPurple:  #A752E0;
$color-lightPurple:   #D3A8F0;
$color-lighterPurple: #E9D4F7;

$color-darkerYellow:  #3A0F57;
$color-darkYellow:    #741FAD;
$color-mediumYellow:  #A752E0;
$color-lightYellow:   #D3A8F0;
$color-lighterYellow: #E9D4F7;