
//Colores
$color-darkerGreen:    #245214;
$color-darkGreen:      #47A329;
$color-mediumGreen:    #7AD65C;
$color-lightGreen:     #ACE699;
$color-lighterGreen:   #DEF5D6;

$color-darkerBeige:   #3A0F57;
$color-darkBeige:     #741FAD;
$color-mediumBeige:   #A752E0;
$color-lightBeige:    #D3A8F0;
$color-lighterBeige:  #E9D4F7;

$color-darkerMustard:   #3A0F57;
$color-darkMustard:     #741FAD;
$color-mediumMustard:   #A752E0;
$color-lightMustard:    #D3A8F0;
$color-lighterMustard:  #E9D4F7;


// Se hace el mapa 
$mapa-colores: (
  "color-darkerGreen":    #245214,
  "color-darkGreen":      #47A329,
  "color-mediumGreen":    #7AD65C,
  "color-lightGreen":     #ACE699,
  "color-lighterGreen":   #DEF5D6,

  "color-darkerBeige":   #3A0F57,
  "color-darkBeige":     #741FAD,
  "color-mediumBeige":   #A752E0,
  "color-lightBeige":    #D3A8F0,
  "color-lighterBeige":  #E9D4F7,
  
  "color-darkerMustard":   #3A0F57,
  "color-darkMustard":     #741FAD,
  "color-mediumMustard":   #A752E0,
  "color-lightMustard":    #D3A8F0,
  "color-lighterMustard":  #E9D4F7
);

// Esto es un loop para crear clases con cada color 
// $color es un nombre arbitrario y $mapa-colores es el nombre que se le asignó al mapa 
@each $color, $i in $mapa-colores {
  .text-#{$color} {
    color: $i;
  }

  .bg-color-#{$color} {
    background-color: $i;
  }
}


// Font family
$font-family-primary:   'Roboto', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;

// Hs font families (primaria es la que se usa para todo lo general y la secundaria es para titulos o casos más particulares)
$h1-font-family:         $font-family-secondary;
$h2-font-family:         $font-family-primary;
$h3-font-family:         $font-family-primary;
$h4-font-family:         $font-family-primary;


// General font sizes
$font-size-extra-small:  1rem;
$font-size-small:        1.25rem;
$font-size-medium:       2rem;
$font-size-x-medium:     2.25rem;
$font-size-large:        3rem;
$font-size-extra-large:  4rem;

// Hs font sizes (cambiar por los general font sizes o valores unicos para cada cosa)
$h1-font-size:           $font-size-extra-large;
$h2-font-size:           $font-size-large;
$h3-font-size:           $font-size-x-medium;
$h4font-size:            $font-size-medium;
$h5-font-size:           $font-size-medium;
$h6-font-size:           $font-size-medium;
$p-font-size:            $font-size-medium;

// Font weight (ver como hacer que funcione)
$font-bold: bold;
$font-medium: medium;
$font-light: light;




//@mixin font-size($font-size: $font-medium) {
  //  font-size: $font-size;
    //@include mq(medium) {
      //  font-size: $font-size *1.2;
    //}
//}