ul {
    list-style-type: none;
}

a {
  text-decoration:none;
  color: rgb(0, 0, 0);
}

nav {
    background-color: lightgray;
    width: 1000px;
}
.nav__icon {
//width:42px;
  height:42px;
  margin:0;
  padding:0;
}
.nav__list {
  display: flex;
  flex-direction: column;
  width:42px;
  height:42px;
  cursor: pointer;
  position: relative;
  text-align: center;
  justify-content: center;
  margin:3px;
  background-color: rgb(73, 73, 73);
}
