@import '../globalStyle/GlobalStyle.scss';
@import '../globalStyle/variables.scss';

//Color boxes

.bg-color-darkerPurple {
    width: 100px;
    height: 100px;
    background-color: $color-darkerPurple;
    border-radius: 24px;
}

.bg-color-darkPurple {
    width: 100px;
    height: 100px;
    background-color: $color-darkPurple;
    border-radius: 24px;
}

.bg-color-mediumPurple {
    width: 100px;
    height: 100px;
    background-color: $color-mediumPurple;
    border-radius: 24px;
}

.bg-color-lightPurple {
    width: 100px;
    height: 100px;
    background-color: $color-lightPurple;
    border-radius: 24px;
}

.bg-color-lighterPurple {
    width: 100px;
    height: 100px;
    background-color: $color-lighterPurple;
    border-radius: 24px;
}

.bg-color-darkerGreen {
    width: 100px;
    height: 100px;
    background-color: $color-darkerGreen;
    border-radius: 24px;
}

.bg-color-darkGreen {
    width: 100px;
    height: 100px;
    background-color: $color-darkGreen;
    border-radius: 24px;
}

.bg-color-mediumGreen {
    width: 100px;
    height: 100px;
    background-color: $color-mediumGreen;
    border-radius: 24px;
}

.bg-color-lightGreen {
    width: 100px;
    height: 100px;
    background-color: $color-lightGreen;
    border-radius: 24px;
}

.bg-color-lighterGreen {
    width: 100px;
    height: 100px;
    background-color: $color-lighterGreen;
    border-radius: 24px;
}

//containers
.colors__subcontainer {
    display: flex;
    gap: 6px;
    justify-content: center;

}

.colors__container {
    display: flex;
    gap: 6px;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 24px;

}

//Typography

h1 {
    font-family: $font-family-secondary;
    font-size: $font-size-extra-large;
}

h2 {
    font-family: $font-family-secondary;
    font-size: $font-size-large;
    // font-weight: medium 500;
}

h3 {
    font-family: $font-family-primary;
    font-size: $font-size-large;
    
}

h4 {
    font-family: $font-family-primary;
    font-size: $font-size-medium;
}

p {
    font-family: $font-family-primary;
    font-size: $font-size-medium;
}