@import '../globalStyle/GlobalStyle.scss';
@import '../globalStyle/variables.scss';


//Color boxes

.bg-color-darkerPurple {
    width: 100px;
    height: 100px;
    background-color: $color-darkerPurple;
    border-radius: 24px;
}

.bg-color-darkPurple {
    width: 100px;
    height: 100px;
    background-color: $color-darkPurple;
    border-radius: 24px;
}

.bg-color-mediumPurple {
    width: 100px;
    height: 100px;
    background-color: $color-mediumPurple;
    border-radius: 24px;
}

.bg-color-lightPurple {
    width: 100px;
    height: 100px;
    background-color: $color-lightPurple;
    border-radius: 24px;
}

.bg-color-lighterPurple {
    width: 100px;
    height: 100px;
    background-color: $color-lighterPurple;
    border-radius: 24px;
}


//containers
.colors__container {
    display: flex;
    gap: 6px;
    justify-content: center;

}